@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";
////
////
////
.wrapper {
	background-color: #290000;
	width: 1200px;
	border-top: 4px solid #76c38f;
	margin: 30px auto;
	box-shadow: 0px 0px 5px 5px #bfc2c0;
}
.content {
	padding: 45px 120px 0 120px;
}

.top-content {
	height: 600px;

	.header {
		display: flex;
		justify-content: space-between;
		.menu {
			display: flex;
			justify-content: space-between;
			width: 634px;
			a {
				color: #ffffff;
				text-decoration: none;
			}

			// font-family: Georgia;
			font-size: 13px;
			line-height: 15.6px;
			text-transform: uppercase;
			text-align: center;
			.home,
			.style-demo,
			.full-width,
			.dropdown,
			.portfolio,
			.gallery {
				display: inline-block;
				line-height: 35px;
				height: 35px;
			}
			.home:hover,
			.style-demo:hover,
			.full-width:hover,
			.dropdown:hover,
			.portfolio:hover,
			.gallery:hover {
				display: inline-block;
				line-height: 35px;
				height: 35px;
				background-color: #76c38f;
				border-radius: 10px;
			}
		}
		.page-name {
			.sup-title {
				color: #ffffff;
				//font-family: Georgia;
				font-size: 28px;
				line-height: 28px;
			}
			.sub-title {
				color: #979797;
				//font-family: Georgia;
				font-size: 11px;
				line-height: 11px;
			}
		}
	}
}

.first-slide {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.first-slide__left-part {
	height: 238px;
	width: 313px;
}
.first-slide__right-part {
	width: 380px;
	height: 380px;
	border-radius: 50%;
	background-color: #333333;
	border: 25px solid #6b6b6b;

	color: #ffffff;
	//font-family: Georgia;
	font-size: 26px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 31.2px;
}

.first-slide__title {
	color: #ffffff;
	//font-family: Georgia;
	font-size: 46px;
	margin-bottom: 30px;
	line-height: 46px;
}

.first-slide__text {
	color: #979797;
	//font-family: Georgia;
	font-size: 12px;

	line-height: 19.2px;
}

a.first-slide__link {
	width: 142px;
	height: 35px;
	color: #ffffff;
	//font-family: Georgia;
	font-size: 13px;
	line-height: 35px;

	text-decoration: none;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
}
a.first-slide__link:hover {
	color: #ffffff;
	line-height: 35px;
	height: 35px;
	background-color: #76c38f;
	border-radius: 10px;
}
.carousel {
	width: 960px;
	margin: 0 auto;
	&-inner {
		height: 430px;
		width: 750px;
		margin: 30px auto;
	}
}
.carousel-control-prev-icon {
	background: url("/img/iconsprite/Left_arrow.png") 100% 50% no-repeat;
}
.carousel-control-next-icon {
	background: url("/img/iconsprite/Right_arrow.png") 100% 50% no-repeat;
}
.carousel-item {
	width: 100%;
	height: 100%;
	padding-top: 3%;
}
a.carousel-control-next {
	justify-content: flex-end;
	left: 89%;
	width: 90px;
}
a.carousel-control-prev {
	justify-content: flex-start;
	width: 90px;
}
