@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  font-display: swap;
  src: url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

dl {
  padding: 0;
  margin: 0;
}

.contact-page-map {
  width: 100%;
  overflow: hidden;
  margin: 0 auto 80px auto;
}

.contact-page-map img {
  height: 400px;
}

.contact-block-title {
  width: 27%;
  margin: 0 auto 80px auto;
}

.contact-content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 61%;
  margin: 0 auto 100px auto;
}

.contact-content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 540px;
}

.user-name input,
.user-email input,
.user-phone input,
.enter-message textarea {
  width: 100%;
  height: 46px;
  margin-bottom: 25px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
  border: 1px solid #c1d3d2;
  background-color: #ffffff;
}

.user-name input::-webkit-input-placeholder, .user-email input::-webkit-input-placeholder, .user-phone input::-webkit-input-placeholder, .enter-message textarea::-webkit-input-placeholder {
  padding: 15px 20px;
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
}

.user-name input::-moz-placeholder, .user-email input::-moz-placeholder, .user-phone input::-moz-placeholder, .enter-message textarea::-moz-placeholder {
  padding: 15px 20px;
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
}

.user-name input:-ms-input-placeholder, .user-email input:-ms-input-placeholder, .user-phone input:-ms-input-placeholder, .enter-message textarea:-ms-input-placeholder {
  padding: 15px 20px;
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
}

.user-name input::-ms-input-placeholder, .user-email input::-ms-input-placeholder, .user-phone input::-ms-input-placeholder, .enter-message textarea::-ms-input-placeholder {
  padding: 15px 20px;
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
}

.user-name input::placeholder,
.user-email input::placeholder,
.user-phone input::placeholder,
.enter-message textarea::placeholder {
  padding: 15px 20px;
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 21px;
}

.enter-message textarea {
  height: 125px;
  resize: none;
}

.contact-button button {
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  text-align: center;
  padding: 11px 39px;
  border-radius: 2px;
  background-color: #6fb048;
  text-align: center;
  border: none;
  border-radius: 3px;
  display: inline-block;
}

.contact-button button:hover {
  opacity: 0.9;
}

.forms {
  margin-right: 30px;
}

.forms input {
  padding-left: 15px;
}

.forms textarea {
  padding-left: 15px;
}

.our-requisites {
  -ms-flex-item-align: start;
      align-self: start;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  max-width: 342px;
  border: 3px dashed #c1d3d2;
  background-color: #ffffff;
}

.our-requisites-data {
  padding: 40px 130px 60px 40px;
}

.req-title {
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 22px;
  line-height: 21px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.req-address,
.req-phone {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 30px;
}

.no-webp .req-address {
  background: url("../img/our_address.png") 0% 0%/auto auto no-repeat; }

.req-address {
  padding-left: 25px;
}

.no-webp .req-phone {
  background: url("../img/our_phone.png") 0% 50%/auto auto no-repeat; }

.req-phone {
  padding-left: 25px;
}

.no-webp .req-email {
  background: url("../img/our_email.png") 0% 50%/auto auto no-repeat; }

.req-email {
  font-weight: 500;
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 15px;
  line-height: 21px;
  margin-top: -15px;
  padding-left: 25px;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  font-display: swap;
  src: url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  font-display: swap;
  src: url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

ul {
  -webkit-padding-start: unset;
          padding-inline-start: unset;
  -webkit-margin-before: unset;
          margin-block-start: unset;
  -webkit-margin-after: unset;
          margin-block-end: unset;
  list-style-type: none;
}

.no-webp .about__bg2 {
  background: url("../img/about_welcome.png") 0 0/cover no-repeat; }

.about__bg2 {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}

.about__bg3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.about__bg4 {
  height: 100%;
  background: rgba(45, 110, 112, 0.6);
}

.no-webp .about__welcome {
  background: url("../img/about_welcome.png") 0 0/100% 100% no-repeat; }

.about__welcome {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  max-width: 1500px;
  margin: 0 auto;
}

.about__welcome-content {
  padding: 11% 0 11% 0;
  margin: 0 auto;
}

.about__welcome .about__about a {
  opacity: 1;
  color: #fff;
}

.about__welcome-info {
  text-align: center;
  position: relative;
  bottom: 75%;
  margin: 0 auto;
  width: 60%;
}

.about__welcome-title {
  color: #fff;
  font-family: Roboto;
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  margin-bottom: 40px;
}

.about__welcome-link {
  display: inline-block;
  border-radius: 3px;
  background-color: #6fb048;
  white-space: nowrap;
}

.about__welcome-link:hover {
  cursor: pointer;
  opacity: 0.9;
}

.about__welcome-link a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 50px;
  padding: 20px 25px;
}

.about__welcome-link a:hover {
  color: #fff;
}

.about-us {
  margin: 0 auto;
  max-width: 1500px;
}

.about-us-text {
  width: 66%;
  margin: 0 auto;
}

.about-us__facilities-list {
  margin: 62px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us-content {
  width: 70%;
  height: 100%;
  margin: 96px auto 0 auto;
}

.meet-team {
  background-color: #eef1ec;
  max-width: 1500px;
  margin: 0 auto;
}

.meet-team-container {
  padding: 80px 0 120px 0;
  margin: 0 auto;
  width: 70%;
}

.meet-team__sub-title {
  max-width: 65%;
  margin: 0 auto 90px auto;
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding: 0 40px;
}

.team-members-item {
  width: 32%;
}

.no-webp .team-members-joyce {
  background: url("../img/joyce.png") 0 0/contain no-repeat; }

.team-members-name {
  margin-top: 65%;
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}

.team-members-post {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
}

.no-webp .team-members-angela {
  background: url("../img/angela.png") 0 0/contain no-repeat; }

.no-webp .team-members-james {
  background: url("../img/james.png") 0 0/contain no-repeat; }

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("../fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: Medium;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "proximanova";
  font-display: swap;
  src: url("../fonts/proximanova-bold.woff") format("woff"), url("../fonts/proximanova-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

.started-with-warpik {
  background-color: rgba(238, 241, 236, 0.6);
  max-width: 1500px;
  margin: 0 auto;
}

.started-with-warpik-title {
  margin: 0 auto 20px auto !important;
  line-height: 38px !important;
}

.started-with-warpik-title::after {
  content: none !important;
}

.started-with-warpik-sub-title {
  margin-bottom: 50px;
}

.pricing-header {
  bottom: 0;
}

.pricing-special-offer {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  padding-bottom: 65px;
  margin-bottom: 80px;
}

.wrapper {
  margin: 0 auto;
  padding: 15px;
  max-width: 1500px;
}

*,
::after,
::before {
  -webkit-box-sizing: content-box !important;
          box-sizing: content-box !important;
}

ul,
dl,
ol {
  -webkit-padding-start: unset;
          padding-inline-start: unset;
  -webkit-margin-before: unset;
          margin-block-start: unset;
  -webkit-margin-after: unset;
          margin-block-end: unset;
  list-style-type: none;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

.no-webp .bg2 {
  background: url("../img/Layer_14.png") 0 0/cover no-repeat; }

.bg2 {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
}

.bg3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 200px;
  width: 100%;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}

.bg4 {
  width: 100%;
  height: 100%;
  background: rgba(45, 110, 112, 0.9);
}

.welcome {
  position: relative;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
}

.welcome-content {
  max-width: 100%;
}

.welcome-info {
  position: relative;
  max-width: 70%;
  padding: 200px 0 200px 15%;
}

.welcome-title {
  color: #fff;
  font-family: Roboto;
  font-size: 38px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  white-space: nowrap;
  margin-bottom: 20px;
}

.welcome-text {
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  margin: 0 0 25px 0;
  max-width: 48%;
}

.welcome-link {
  width: 186px;
  border-radius: 3px;
  height: 50px;
  text-align: center;
  background-color: #6fb048;
  white-space: nowrap;
}

.welcome-link:hover {
  opacity: 0.9;
  cursor: pointer;
}

.welcome-link a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 50px;
}

.welcome-link a:hover {
  color: #fff;
}

.header {
  position: relative;
  max-height: 86px;
  z-index: 100;
  width: 70%;
  margin: 0 auto;
}

.header #check-menu {
  display: none;
}

.header label {
  display: none;
}

.header .burger-line {
  display: none;
}

.header__content {
  padding: 35px 0;
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: inherit;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.header__content_contact {
  border: none;
}

.header__content_another {
  border-color: rgba(131, 167, 165, 0.5);
}

.header__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 15%;
}

.header__title {
  color: #fff;
  font-family: "proximanova";
  font-size: 29px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  line-height: 20px;
  border-right: 2px solid rgba(255, 255, 255, 0.2);
  padding-right: 15%;
  text-transform: uppercase;
}

.header__title_another {
  color: #0f5f5c;
  border-color: rgba(131, 167, 165, 0.5);
}

.no-webp .header__number {
  background: url("../img/phone_icon.png") 0 50%/14px 14px no-repeat; }

.header__number {
  font-weight: 700;
  letter-spacing: 1px;
  margin-left: 15%;
  white-space: nowrap;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 0 20px;
}

.no-webp .header__number_another {
  background: url("../img/phone_icon_another.png") 0 50%/14px 14px no-repeat; }

.header__number_another {
  color: #83a7a5;
  opacity: 0.7;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.header__menu a {
  color: #fff;
  opacity: 0.7;
}

.header__menu a:hover {
  color: #fff;
  border-radius: 2px;
  opacity: unset;
  background-color: rgba(255, 255, 255, 0.35);
}

.header__menu_another a {
  color: #83a7a5;
}

.header__menu_another a:hover {
  color: #fff;
  background-color: #6fb048;
}

.header__menu .home_home a {
  opacity: 1;
}

.header__menu li {
  margin: 0 0 0 0px;
  list-style-type: none;
}

.header__link a {
  text-decoration: none;
  padding: 11px 14px;
  white-space: nowrap;
}

.features {
  max-width: 1500px;
}

.features-content {
  width: 70%;
  margin: 96px auto 128px auto;
}

.features-text {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  text-align: center;
}

.features-title {
  height: 103px;
  margin: 0 auto;
}

.advantages-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-title__title {
  margin: 0px 0px 40px 0px;
  color: #0f5f5c;
  font-family: Roboto;
  white-space: nowrap;
  font-size: 32px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.block-title__title_fsz-22 {
  font-size: 22px;
}

.block-title__title::after {
  content: "";
  width: 65px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 20px;
  height: 1px;
  background-color: #6fb048;
}

.block-title__sub-title {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
}

.block-title_another {
  padding-top: 60px;
}

.facilities-list {
  margin: 62px auto 150px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.facilities-list::after {
  content: "";
  position: relative;
  width: 2px;
  height: 90px;
  background-color: #f2f2f2;
  bottom: -220px;
  right: 50.5%;
}

.facilities-list::before {
  content: "";
  position: relative;
  display: block;
  width: 2px;
  height: 90px;
  background-color: #f2f2f2;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  bottom: -264px;
  right: 0;
  left: 49%;
}

.facilities {
  width: 31.5%;
}

.facilities__img {
  margin: 0 auto 26px auto;
  width: 56px;
  height: 56px;
}

.facilities__title {
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.facilities__text {
  line-height: 22px;
  text-align: center;
}

.no-webp .ionicons-img {
  background: url("../img/ionicons.png") 100% no-repeat; }

.design {
  margin: 0 3%;
}

.no-webp .design-img {
  background: url("../img/Creative_Design.png") 100% no-repeat; }

.no-webp .photoshop-img {
  background: url("../img/Photoshop_and_Sketch.png") 100% no-repeat; }

.instrument-list {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 90px 90px;
  grid-template-columns: 46% 48%;
  grid-gap: 60px;
}

.instrument__name {
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}

.instrument__desc {
  text-align: left;
  padding-top: 20px;
}

.instrument__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 4px;
}

.instrument__icon {
  width: 40px;
  padding-right: 20px;
}

.perfect-template {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #eef1ec;
}

.perfect-template-content {
  max-width: 100%;
  margin: 0 auto;
  padding-top: 98px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.responsive {
  padding-top: 20px;
  width: 70%;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.responsive-info {
  -ms-flex-item-align: center;
      align-self: center;
  position: relative;
  width: 46.5%;
}

.hand-with-phone {
  position: relative;
  margin: 0 30px 0 -70px;
}

.phone-display {
  position: absolute;
  top: 50px;
  right: 72px;
}

.desk-block__title {
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 32px;
  white-space: nowrap;
  line-height: 28px;
  text-align: left;
  margin: 0 0 18px 0;
}

.desk-block__text {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
  margin-bottom: 20px;
}

.advantages-list {
  display: inline-block;
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 17px;
}

.no-webp .advantages-list li {
  background: url("../img/li.png") 0% 50% no-repeat; }

.advantages-list li {
  margin-bottom: 20px;
  padding-left: 35px;
  height: 26px;
}

.user-feedback {
  padding: 100px 0;
  max-width: 1500px;
  margin: 0 auto;
}

.user-feedback-content {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feedback-block {
  width: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.feedback-content {
  color: #83a7a5;
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 300;
  line-height: 40px;
  margin-bottom: 30px;
  padding-right: 20px;
}

.user-data {
  font-family: Roboto;
  color: #83a7a5;
  font-size: 14px;
  line-height: 22px;
}

.user-name {
  color: #6fb048;
  font-weight: 500;
}

.user-photo {
  padding: 40px;
}

.built-with {
  max-width: 1500px;
  margin: 0 auto;
  background-color: #eef1ec;
  overflow: hidden;
}

.built-with-block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 0 70px 0 auto;
  width: 46.5%;
  padding: 30px 0;
}

.built-with-text {
  line-height: 24px;
}

.built-with-wrapper {
  max-width: 100%;
  margin: 0 auto;
}

.built-with-content {
  height: 100%;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
}

.no-webp .map {
  background: url("../img/map.png") 0 0/contain no-repeat; }

.map {
  width: 757px;
  height: 382px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.pricing-plan {
  position: relative;
  margin-bottom: 120px;
}

.pricing-plan-content {
  position: relative;
  top: 96px;
}

.pricing-plan-title {
  margin-bottom: 39px;
}

.plan-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}

.plan-block_another {
  margin-bottom: 30px;
}

.plan-block__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px 55px;
  border: 1px solid #c1d3d2;
  text-align: center;
}

.plan-block__title {
  color: #6fb048;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

.plan-block__price {
  margin-bottom: 10px;
  font-weight: 700;
  color: #0f5f5c;
  font-family: Montserrat;
  font-size: 65px;
  line-height: 107.97px;
}

.plan-block__price span {
  margin-top: -25px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  display: block;
}

.plan-block__included {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 14px;
  line-height: 28px;
}

.select-plan-button {
  margin: 13px auto 0 auto;
  width: 140px;
  height: 42px;
  line-height: 42px;
  border-radius: 2px;
  background-color: #83a7a5;
}

.select-plan-button:hover {
  cursor: pointer;
  background-color: #6fb048;
}

.select-plan-button a {
  text-decoration: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
}

.select-plan-button a:hover {
  color: #fff;
}

.plan-advantages-plans {
  max-width: 1500px;
  margin: 0 auto;
}

.plans-advantages-list {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.advantages-list {
  padding-right: 20px;
  margin-bottom: 120px;
}

.advantages-list:last-child {
  padding: 0;
}

.support-block {
  padding-top: 40px;
  margin: 0 auto;
  position: relative;
  width: 50%;
}

.support-block__sub-title {
  margin: 0 auto 40px auto;
  width: 80%;
  font-weight: 500;
}

.support-block__title {
  color: #6fb048;
}

.no-webp .support-block__title::before {
  background: url("../img/need_help.png") top center/100% 100% no-repeat; }

.support-block__title::before {
  content: "";
  display: block;
  margin: 0 auto;
  width: 45px;
  height: 45px;
  margin-bottom: 20px;
}

.support-block__mail {
  font-weight: 500;
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  margin-bottom: 100px;
}

.no-webp .download-block {
  background: url("../img/Download_Layer.png") 0 0/100% 100% no-repeat; }

.download-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.no-webp .download-block_green {
  background: url("../img/about_download_layer.png") 0 0/100% 100% no-repeat; }

.download-block__title_green {
  text-align: left;
  color: #fff;
}

.download-block__sub-title {
  margin: 0;
}

.download-block__sub-title_green {
  color: #fff;
}

.download-block__content {
  padding: 75px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 70%;
}

.download-block__title {
  margin: 0 20px 0 0;
  line-height: 22px;
}

.download-block__title-title {
  text-align: left;
  margin: 0 0 10px 0;
}

.download-block__title-title::after {
  content: "";
  display: none;
}

.download-block__sub-title {
  text-align: left;
}

.download__link {
  height: 42px;
  border-radius: 2px;
  background-color: #6fb048;
  text-align: center;
}

.download__link:hover {
  cursor: pointer;
  opacity: 0.9;
}

.download__link_green {
  background-color: #49732f;
}

.download__link a {
  text-transform: uppercase;
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  text-decoration: none;
  line-height: 42px;
  text-align: center;
  padding: 0 22px;
  white-space: nowrap;
}

.download__link a:hover {
  color: #fff;
}

.footer {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  max-width: 1500px;
}

.footer__rights {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 12px;
  line-height: 18px;
}

.footer__rights-n-networks {
  margin: 0 auto;
  width: 70%;
}

.footer__rights-n-networks-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
  border-top: 1px solid #eef1ec;
}

.footer__networks {
  width: 190px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__twitter-icon,
.footer__fb-icon,
.footer__instagram-icon,
.footer__dribble-icon,
.footer__hzchto-icon {
  width: 30px;
  height: 30px;
}

.footer__twitter {
  background-color: #55acee;
  border-radius: 50%;
}

.no-webp .footer__twitter-icon {
  background: url("../img/twitter.png") 50% 50%/auto auto no-repeat; }

.footer__fb {
  background-color: #3b5998;
  border-radius: 50%;
}

.no-webp .footer__fb-icon {
  background: url("../img/fb.png") 50% 50%/auto auto no-repeat; }

.footer__instagram {
  border-radius: 50%;
  background-color: #3f729b;
}

.no-webp .footer__instagram-icon {
  background: url("../img/instagram.png") 50% 50%/auto auto no-repeat; }

.footer__dribble {
  border-radius: 50%;
  background-color: #ea4c89;
}

.no-webp .footer__dribble-icon {
  background: url("../img/dribble.png") 50% 50%/auto auto no-repeat; }

.footer__hzchto {
  border-radius: 50%;
  background-color: #333333;
}

.no-webp .footer__hzchto-icon {
  background: url("../img/hzche.png") 50% 50%/auto auto no-repeat; }

.footer__enter-email {
  position: relative;
}

.footer__enter-email input[type="email"] {
  width: 94%;
  height: 36px;
  position: relative;
  border: unset;
  border-radius: 3px;
  background-color: #eef1ec;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__enter-email input[type="email"]::-webkit-input-placeholder {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 13px;
  position: relative;
  line-height: 18px;
}

.footer__enter-email input[type="email"]::-moz-placeholder {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 13px;
  position: relative;
  line-height: 18px;
}

.footer__enter-email input[type="email"]:-ms-input-placeholder {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 13px;
  position: relative;
  line-height: 18px;
}

.footer__enter-email input[type="email"]::-ms-input-placeholder {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 13px;
  position: relative;
  line-height: 18px;
}

.footer__enter-email input[type="email"]::placeholder {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 13px;
  position: relative;
  line-height: 18px;
}

.no-webp .footer__enter-email input[type="submit"] {
  background: url("../img/Enter_email.png") 0 0/contain no-repeat; }

.footer__enter-email input[type="submit"] {
  -webkit-user-select: auto;
     -moz-user-select: auto;
      -ms-user-select: auto;
          user-select: auto;
  cursor: auto;
  position: absolute;
  top: 13%;
  left: 85%;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
}

.footer__enter-email input[type="submit"]:hover {
  opacity: 0.8;
}

.footer__mail a {
  text-decoration: none;
  color: #0f5f5c;
  font-weight: 700;
}

.footer__mail a:hover {
  color: #0f5f5c;
  opacity: 0.9;
}

.footer__mail::before {
  content: "@: ";
  position: absolute;
  left: -20px;
}

.footer__number::before {
  content: "p: ";
  position: absolute;
  left: -20px;
}

.footer__address {
  left: 10px;
  line-height: 20px;
  text-align: left;
}

.footer__address::before {
  content: "a: ";
  position: absolute;
  left: -20px;
}

.footer-content {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 70%;
  padding-bottom: 25px;
}

.footer__item-title {
  color: #0f5f5c;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 700;
  line-height: 35.02px;
  margin: -5px 0 5px 0;
}

.footer__list {
  color: #83a7a5;
  font-family: Roboto;
  font-size: 13px;
  line-height: 28px;
  text-align: left;
}

.footer__props-list {
  left: 20px;
  position: relative;
}

.footer__props-title {
  font-family: proximanova;
  font-size: 22px;
  font-weight: 700;
  line-height: 35.02px;
  text-transform: uppercase;
  padding-top: 5px;
  margin-bottom: 1px;
}

.footer__newsletter-list :first-child {
  margin-bottom: 20px;
  line-height: 18px;
}

.footer__newsletter {
  width: 23%;
}

@media (max-width: 1150px) {
  .contact-menu {
    border-radius: 15px;
    background: #afafaf;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(97%, rgba(175, 175, 175, 0.683911)), to(#acacac));
    background: -o-linear-gradient(bottom, rgba(175, 175, 175, 0.683911) 97%, #acacac 100%);
    background: linear-gradient(0deg, rgba(175, 175, 175, 0.683911) 97%, #acacac 100%);
  }

  .contact-menu a {
    color: #fff;
    opacity: 1;
  }

  .contact-page-map {
    width: 100%;
    overflow: hidden;
    margin: 0 auto 60px auto;
  }

  .contact-page-map img {
    height: 300px;
  }

  .contact-block-title {
    width: 70%;
    margin: 0 auto 40px auto !important;
  }

  .contact-content-container {
    display: block;
    width: 70%;
    max-width: 100%;
    margin: 0 auto;
  }

  .contact-content {
    max-width: 100%;
    margin: 0 auto 40px auto;
  }

  .forms {
    margin: 0;
  }

  .enter-message textarea {
    height: 70px;
  }

  .our-requisites {
    margin-bottom: 40px;
  }

  .our-requisites-data {
    padding: 20px 0 20px 20px;
  }

  .header__content {
    padding: 0px 0 !important;
  }

  .welcome-info {
    padding: 150px 0 150px 15%;
  }

  .header {
    height: 60px;
  }

  #check-menu {
    display: none;
  }

  .burger-icon {
    position: relative;
    width: 30px;
    height: 22px;
  }

  .burger-icon {
    position: relative;
    width: 30px;
    height: 22px;
  }

  .burger-icon span,
  .burger-icon::after,
  .burger-icon::before {
    left: 0;
    position: absolute;
    height: 2px;
    width: 30px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: white;
    opacity: 0.8;
  }

  .burger-icon-another span,
  .burger-icon-another::before,
  .burger-icon-another::after {
    background-color: #83a7a5;
    opacity: 0.5;
  }

  .burger-icon::before {
    top: 0;
  }

  .burger-icon::after {
    bottom: 0;
  }

  .burger-icon::before,
  .burger-icon::after {
    content: "";
  }

  .burger-icon span {
    top: 50%;
  }

  label {
    right: 0;
    display: block !important;
    position: absolute;
    width: 35px;
    height: 28px;
    cursor: pointer;
    z-index: 2;
  }

  .header__menu {
    text-align: center;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    max-height: 0;
    font-size: 0;
    overflow: hidden;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    border-radius: 15px;
    background: #afafaf;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(97%, rgba(175, 175, 175, 0.683911)), to(#acacac));
    background: -o-linear-gradient(bottom, rgba(175, 175, 175, 0.683911) 97%, #acacac 100%);
    background: linear-gradient(0deg, rgba(175, 175, 175, 0.683911) 97%, #acacac 100%);
  }

  .header__menu a {
    color: #fff;
    opacity: 1;
  }

  .header__link {
    padding: 10px;
    display: block;
  }

  .header__link:first-child {
    border-top: none;
  }

  #check-menu:checked ~ .header__menu {
    max-height: 500px;
    font-size: 12px;
  }

  .header__content {
    padding: 20px 0;
  }
}

@media (max-width: 1100px) {
  .responsive-advantages li {
    margin-bottom: 30px;
    margin-top: 10px;
  }

  .perfect-template-title {
    margin-bottom: 20px !important;
  }

  .block-title__title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
  }

  .block-title__sub-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    white-space: normal;
  }

  .desk-block__title {
    font-size: 18px;
    white-space: normal;
  }

  .responsive-desk {
    margin-bottom: 30px;
  }

  .support-block {
    width: 80%;
  }

  .support-block > .block-title {
    margin-bottom: 0;
  }

  .plan-advantages-plans {
    margin-bottom: 10px !important;
  }

  .pricing-plan {
    margin-bottom: 0px;
  }

  .pricing-plan-title {
    margin-bottom: 20px !important;
  }

  .pricing-plan-content {
    top: 40px;
  }

  .features-content {
    margin: 60px auto 80px auto;
  }

  .facilities-list {
    margin: 62px auto 70px auto;
  }

  .facilities-list::after {
    content: "";
    width: 0;
    height: 0;
  }

  .facilities-list::before {
    width: 0;
    height: 0;
  }

  .block-title {
    margin-bottom: 100px;
  }

  .block-title__title {
    font-size: 22px;
  }

  .download-block__title {
    margin: 0;
  }

  .welcome-info,
  .header,
  .features-content,
  .responsive,
  .user-feedback-content,
  .built-with-content,
  .plans-advantages-list,
  .download-block__content,
  .footer__rights-n-networks,
  .footer-content {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .about__welcome-title {
    font-size: 40px;
  }

  .about__welcome-title {
    font-size: 20px;
    line-height: 2em;
  }

  .pricing-special-offer {
    padding-bottom: 10px;
    margin-bottom: 40px;
  }

  .plan-block_another {
    margin-bottom: 30px !important;
  }

  .hand-with-phone {
    left: -100px;
  }

  .responsive-info {
    left: -100px;
  }

  .hand-with-phone {
    display: none;
  }

  .responsive {
    display: block;
  }

  .responsive-info {
    left: 0;
    width: 90%;
  }

  .perfect-template-content {
    padding-top: 50px;
  }

  .plan-block {
    width: 90%;
    margin: 0 auto 80px auto;
  }
}

@media (max-width: 900px) {
  .about-us-content {
    margin: 50px auto 0 auto;
    width: 90%;
  }

  .about-us-title {
    margin-bottom: 40px;
  }

  .about-us__facilities-list {
    margin-bottom: 30px !important;
  }

  .meet-team-container {
    width: 90%;
    padding: 30px 0;
  }

  .meet-team__block-title {
    margin-bottom: 30px;
  }

  .meet-team__sub-title {
    margin-bottom: 0;
  }

  .user-photo {
    padding: 0px;
  }

  .user-photo img {
    width: 200px;
  }

  .feedback-block {
    width: 70%;
  }

  .feedback-content {
    font-size: 15px;
    line-height: 2em;
  }
}

@media (max-width: 850px) {
  .started-with-warpik-title {
    padding-top: 100px;
  }

  .block-title_another {
    margin-bottom: 20px;
  }

  .plan-block {
    display: block;
  }

  .plan-block__title {
    font-size: 34px;
    position: relative;
    -ms-flex-item-align: center;
        align-self: center;
  }

  .plan-block__item {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-self: center;
  }

  .plan-block .select-plan-button {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .plan-block .plan-block__included {
    line-height: 1.5em;
  }
}

@media (max-width: 800px) {
  .footer-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "props props" "newsletter newsletter" "company others";
  }

  .footer {
    padding-top: 70px;
  }

  .footer__props {
    grid-area: props;
    width: 90%;
  }

  .footer__company {
    grid-area: company;
  }

  .footer__others {
    grid-area: others;
  }

  .footer__newsletter {
    grid-area: newsletter;
    width: 240px;
  }

  .facilities-list {
    display: block;
    margin: 30px auto 70px auto;
  }

  .facilities {
    margin: 0 auto 20px auto;
    width: 100%;
  }

  .instrument {
    margin-bottom: 20px;
  }

  .instrument-list {
    display: block;
  }

  .instrument__desc {
    padding-top: 5px;
  }

  .features-content {
    margin: 60px auto 40px auto;
  }
}

@media (max-width: 780px) {
  .welcome-info {
    padding: 100px 0 100px 15%;
  }

  .welcome-title {
    font-size: 25px;
  }

  .welcome-text {
    max-width: 300px;
  }
}

@media (max-width: 720px) {
  .user-feedback {
    padding: 30px 0;
  }
}

@media (max-width: 700px) {
  .contact-content-container {
    width: 90%;
  }

  .support-block__mail {
    margin-bottom: 50px;
  }

  .download-block__content {
    padding: 40px 0;
    display: block;
  }

  .download-block__title-title {
    text-align: center;
  }

  .download-block__sub-title {
    text-align: center;
    padding: 20px 0;
  }
}

@media (max-width: 664px) {
  .header__number {
    display: none;
  }

  .header__title {
    border: none;
  }

  .header__link {
    padding: 5px;
  }

  .welcome-title {
    font-size: 19px;
  }

  .welcome-text {
    font-size: 13px;
    padding-right: 20px;
  }

  .welcome-info {
    padding: 170px 0 50px 15%;
  }
}

@media (max-width: 650px) {
  .plans-advantages-list {
    display: block;
  }

  .plans-advantages-list li {
    margin-bottom: 15px;
  }
}

@media (max-width: 600px) {
  .user-photo img {
    width: 100px;
  }

  .feedback-content {
    font-size: 12px;
  }

  .map {
    display: none;
  }

  .built-with-block {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 500px) {
  .block-title__sub-title {
    font-size: 12px !important;
  }

  .about-us-text {
    font-size: 14px;
  }

  .team-members {
    padding-right: 10px;
    padding-left: 10px;
    display: block;
  }

  .team-members-name {
    width: 300%;
  }

  .team-members-post {
    width: 200%;
  }

  .team-members-item {
    width: 20%;
    height: 60px;
    padding-left: 120px;
  }

  .download-block__title-title {
    font-size: 20px;
  }

  .download-block__sub-title {
    font-size: 14px;
  }

  .download__link a {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .footer__rights-n-networks-container {
    display: block;
    text-align: center;
  }

  .footer__rights {
    padding: 15px 0;
  }

  .footer__networks {
    margin: 0 auto;
    padding-bottom: 20px;
  }

  .user-feedback-content {
    display: block;
    padding-bottom: 20px;
  }

  .user-feedback-content .feedback-content {
    margin-bottom: 10px;
  }

  .feedback-block {
    width: 100%;
    padding: 15px 0;
  }

  .plan-block__title {
    font-size: 24px;
  }

  .plan-block__price {
    -ms-flex-item-align: end;
        align-self: end;
    font-size: 30px;
    line-height: 3em;
  }

  .select-plan-button {
    width: 100px;
    height: 30px;
    line-height: 30px;
    -ms-flex-item-align: start !important;
        align-self: start !important;
  }

  .select-plan-button a {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .about__welcome-title {
    font-size: 16px;
    line-height: 2em;
  }

  .about__welcome-link a {
    padding: 0 10px;
    line-height: 2.5em;
    font-size: 12px;
  }

  .plans-advantages-list li {
    font-size: 10px;
  }
}

.webp .req-address { background: url(../img/our_address.webp) 0% 0%/auto auto no-repeat; }

.webp .req-phone { background: url(../img/our_phone.webp) 0% 50%/auto auto no-repeat; }

.webp .req-email { background: url(../img/our_email.webp) 0% 50%/auto auto no-repeat; }

.webp .about__bg2 { background: url(../img/about_welcome.webp) 0 0/cover no-repeat; }

.webp .about__welcome { background: url(../img/about_welcome.webp) 0 0/100% 100% no-repeat; }

.webp .team-members-joyce { background: url(../img/joyce.webp) 0 0/contain no-repeat; }

.webp .team-members-angela { background: url(../img/angela.webp) 0 0/contain no-repeat; }

.webp .team-members-james { background: url(../img/james.webp) 0 0/contain no-repeat; }

.webp .bg2 { background: url(../img/Layer_14.webp) 0 0/cover no-repeat; }

.webp .header__number { background: url(../img/phone_icon.webp) 0 50%/14px 14px no-repeat; }

.webp .header__number_another { background: url(../img/phone_icon_another.webp) 0 50%/14px 14px no-repeat; }

.webp .ionicons-img { background: url(../img/ionicons.webp) 100% no-repeat; }

.webp .design-img { background: url(../img/Creative_Design.webp) 100% no-repeat; }

.webp .photoshop-img { background: url(../img/Photoshop_and_Sketch.webp) 100% no-repeat; }

.webp .advantages-list li { background: url(../img/li.webp) 0% 50% no-repeat; }

.webp .map { background: url(../img/map.webp) 0 0/contain no-repeat; }

.webp .support-block__title::before { background: url(../img/need_help.webp) top center/100% 100% no-repeat; }

.webp .download-block { background: url(../img/Download_Layer.webp) 0 0/100% 100% no-repeat; }

.webp .download-block_green { background: url(../img/about_download_layer.webp) 0 0/100% 100% no-repeat; }

.webp .footer__twitter-icon { background: url(../img/twitter.webp) 50% 50%/auto auto no-repeat; }

.webp .footer__fb-icon { background: url(../img/fb.webp) 50% 50%/auto auto no-repeat; }

.webp .footer__instagram-icon { background: url(../img/instagram.webp) 50% 50%/auto auto no-repeat; }

.webp .footer__dribble-icon { background: url(../img/dribble.webp) 50% 50%/auto auto no-repeat; }

.webp .footer__hzchto-icon { background: url(../img/hzche.webp) 50% 50%/auto auto no-repeat; }

.webp .footer__enter-email input[type="submit"] { background: url(../img/Enter_email.webp) 0 0/contain no-repeat; }